.register-page-container {
    width: 100%;
    max-width: 1440px;
    height: auto;
    background-color: rgba(234, 207, 196, 0.89);
    display: flex;
}

.registerImage{
    height: auto;
    width: auto;
}

.register-title {
    font-size: 40px;
    font-weight: 400px;
    line-height: 48px;
    letter-spacing: 0.32em;
    text-align: center;
    margin-top: 195px;
    color: rgba(139, 137, 137, 1);
    font-family: 'Lato', sans-serif;
    padding-left: 2rem; 
}

.register-form-container {
    width: 100%;
}

.register-form {
    width: 70%;
    margin-left: 50px;
    text-align: left;
    display: inline-block;
}

.register-option1, .register-option2 {
    font-family:  'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding: 10px;
    color: rgba(139, 137, 137, 1);
}

.register-form-input {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.register-text-option {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(139, 137, 137, 1);
}

::placeholder {
    color: rgba(26, 26, 26, 1);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
